::-webkit-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {/* Firefox 18- */
    color: #ccc;
}
::-moz-placeholder{/* Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder {
    color: #ccc;
}

.category-small-box{
    cursor: default;
}
.category-small-box h4{
    color: #333;
    font-size: 18px;
}
.category-small-box p{
    font-size: 14px;
    line-height: 22px;
}
.listing-item-container{
    cursor: default;
}

.footer-info p{
    font-size: 14px;
    color: #999;
}
.open-form{
    border-top: 1px solid rgba(0,0,0,0.09);
}
.home-media{
    text-align: center;
}
.home-media ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.home-media li{
    float: left;
    margin: 5px 22px;

}
.home-media img{
    width: auto;
    height: 80px;
    opacity: .6;
}
.home-media li a:hover img{
    opacity: 1;
}

section.fullwidth .listing-item-container.home-media-container{
    box-shadow: none;
    background: none;
    margin-bottom: 0;
    cursor: pointer;
}

#titlebar.aboutus-titlebar{
    background: url("img/aboutus_banner.png?92837472");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 90px 0;
}
#titlebar.aboutus-titlebar h1,
#titlebar.aboutus-titlebar h2,
#titlebar.aboutus-titlebar #breadcrumbs,
#titlebar.aboutus-titlebar #breadcrumbs ul li a{
    color: #fff;
}
